venv/*
build/*
sdist/*
PyDCSL.egg-info

# Ignore all __pycache__ folders
__pycache__/
**/__pycache__/
.vscode/
# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Contains a hardcoded PyPI token
RunMe.sh